<!-- <nav class="navbar">
  <a routerLink="/dashboard" routerLinkActive="active" *ngIf="isLoggedIn">Dashboard</a>
  <a routerLink="/trips" routerLinkActive="active" *ngIf="isLoggedIn">Trips</a>
  <a routerLink="/expenses" routerLinkActive="active" *ngIf="isLoggedIn">Expenses</a>
  <a routerLink="/profile" routerLinkActive="active" *ngIf="isLoggedIn">Profile</a>
  <a routerLink="/admin" routerLinkActive="active" *ngIf="isAdmin">Admin</a>
  <span class="spacer"></span>
  <a routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn">Login</a>
  <button type="button" (click)="logout()" *ngIf="isLoggedIn">Logout</button>
</nav> -->
<div class="header">
      <div class="brand">
        <div class="logo">FS</div>

        <div>
          <div style="font-weight:700;font-size:1.1rem;">
            FuturaSplit
          </div>
          <div class="small">Trip & Expense Manager</div>
        </div>
      </div>

      <div style="display:flex;gap:16px;align-items:center;">
        <!-- <a routerLink="/trips" class="nav-link">Trips</a>
        <a routerLink="/dashboard" class="nav-link">Dashboard</a>
        <a routerLink="/login" class="nav-link">Login</a> -->

    <a routerLink="/dashboard" routerLinkActive="active" *ngIf="isLoggedIn">Dashboard</a>
    <a routerLink="/trips" routerLinkActive="active" *ngIf="isLoggedIn">Trips</a>
    <a routerLink="/expenses" routerLinkActive="active" *ngIf="isLoggedIn">Expenses</a>
    <a routerLink="/profile" routerLinkActive="active" *ngIf="isLoggedIn">Profile</a>
    <a routerLink="/admin" routerLinkActive="active" *ngIf="isAdmin">Admin</a>
    <span class="spacer"></span>
    <a routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn">Login</a>
    <button type="button" (click)="logout()" *ngIf="isLoggedIn">Logout</button>
      </div>
    </div>